# Core Framework
fastapi==0.110.1
uvicorn==0.25.0
python-multipart==0.0.20

# Database
motor==3.3.1
pymongo==4.5.0

# Authentication - Clerk
clerk-backend-api==3.3.1

# Security
passlib[bcrypt]==1.7.4


redis[hiredis]>=5.0.0
# Payment Integration
razorpay==2.0.0

# Image Upload
cloudinary==1.41.0

# HTTP Client
httpx==0.28.1

# Environment Variables
python-dotenv==1.1.1
PyJWT==2.9.0

upstash-redis==1.0.2
